<body style="padding: 1.5rem;text-align: center;background-color: rgb(240,242,244);height: 100%;font-size:18px;font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="border-radius:4px;width: 85%;max-width:600px;min-width:300px;background-color: white;color: rgb(48, 48, 48);padding: 1.5rem 1.8rem;text-align: center;margin: auto;margin-top: 2rem;">
<a target="_blank" href="VERIFICATION_LINK" style="border-radius: 4px;margin: auto;color: white;text-align: center;width: 200px;display: block;/* padding: 1rem; */text-decoration: none;cursor: pointer;"><img src="https://storage.googleapis.com/karma-app/prescription/1610457549815.png" width="130"></a>
<p style="text-align: left; font-size:20px;">Hello USER!,</p>
<p style="text-align: left; font-size:20px;">Please enter this code to verify your account</p>
<p style="text-align: left; font-size:20px;">Your code : OTP</p>
<p style="text-align: left; font-size:15px;">Thank you for your interest with Ecommerce.For Additional help, visit our Support Center. </p>
<p style="text-align: left; font-size:15px;">Regards,</p>
<p style="text-align: left; font-size:15px;">Ecommerce Team.</p>
        <hr style="height: 2px;background-color: #e65636;border: none;margin-left: -1.8rem;margin-right: -1.8rem;">
        <div style="text-align: center; font-size:14px;">
                <span>Copyright © CURRENT_YEAR ecommerce.com</span>
        </div>
    </div>
</body>