.login {
    position: relative;
    padding-top: 30px;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
}
canvas {
    height: 175px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
  
  input {
    font-family: verdana;
    font-size: 12pt;
}
.shopImage{
    
}